<section>
  <div class="wrapper">
    <div class="content">
      <h1>{{ "main.banner.h" | translate }}</h1>
      <p class="text">
        {{ "main.banner.p" | translate }}
      </p>
      <div class="buttons">
        <button class="button button-red" type="button">
          <span>{{ "main.banner.button" | translate }}</span>
        </button>
        <button class="button button-transparent" type="button">
          <span>{{ "main.banner.button1" | translate }}</span>
        </button>
      </div>
    </div>
    <div class="social">
      <a class="item" href="https://www.instagram.com/" target="_blank">
        <svg class="icon icon-instagram">
          <use xlink:href="#icon-instagram"></use>
        </svg> </a
      ><a href="https://www.facebook.com/" target="_blank" class="item">
        <svg class="icon icon-facebook">
          <use xlink:href="#icon-facebook"></use>
        </svg> </a
      ><a class="item" href="https://twitter.com/" target="_blank">
        <svg class="icon icon-twitter">
          <use xlink:href="#icon-twitter"></use>
        </svg>
      </a>
    </div>
  </div>
  <div class="wave">
    <img
      src="../../../../../assets//images//banner_footer.png"
      loading="lazy"
      alt="wave"
    />
  </div>
</section>
