<section>
  <div class="map">
    <div class="contacts-adress" #map></div>
  </div>
  <div class="wrapper">
    <div class="card">
      <h2>{{ "main.contacts.h2" | translate }}</h2>
      <ul class="list">
        <li class="item">
          <div class="square"></div>
          <span class="text">{{ "main.contacts.li" | translate }}</span>
        </li>
        <li class="item">
          <div class="square"></div>
          <span class="text">{{ "main.contacts.li1" | translate }}</span>
        </li>
        <li class="item">
          <div class="square"></div>
          <span class="text">{{ "main.contacts.li2" | translate }}</span>
        </li>
      </ul>
      <div class="social">
        <a class="element" href="https://www.instagram.com/" target="_blank">
          <svg class="icon icon-instagram">
            <use xlink:href="#icon-instagram"></use>
          </svg> </a
        ><a href="https://www.facebook.com/" target="_blank" class="element">
          <svg class="icon icon-facebook">
            <use xlink:href="#icon-facebook"></use>
          </svg> </a
        ><a class="element" href="https://twitter.com/" target="_blank">
          <svg class="icon icon-twitter">
            <use xlink:href="#icon-twitter"></use>
          </svg>
        </a>
      </div>
    </div>
  </div>
</section>
