// * Base
@import "../../../styles/variables.scss";
@import "../../../styles/mixins.scss";

section {
  padding-bottom: 50px;
  margin-top: 100px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

p {
  margin-bottom: 15px;
  font-size: em (36);
  font-weight: 700;
  margin-top: 20px;
  color: $c-black;
}

.numbers {
  color: rgba($c-light-grey, 0.2);
  margin-bottom: 30px;
  font-size: em(300);
  line-height: auto;
  font-weight: 700;
}

a {
  justify-content: center;
  align-items: center;
  min-width: 150px;
  display: flex;
}
