// * Base
@import "../../../../../styles/node_modules.scss";
@import "../../../../../styles/variables.scss";
@import "../../../../../styles/mixins.scss";

section {
  margin-top: 120px;
  padding-bottom: 100px;
}

.wrapper {
  display: flex;
}

.left {
  width: 50%;
}

h2 {
  margin-bottom: 60px;
  color: $c-black;
}

.text {
  margin-bottom: 40px;
  line-height: 41px;
  font-size: em(24);
  max-width: 600px;
  font-weight: 400;

  &:last-child {
    margin-bottom: 0;
  }
}

.right {
  padding-top: 100px;
  width: 50%;
}

.button-simple {
  margin-bottom: 40px;
}
