// * Base
@import "../../../../../styles/variables.scss";
@import "../../../../../styles/mixins.scss";

section {
  justify-content: center;
  display: flex;
}

.block {
  grid-template-columns: repeat(3, 1fr);
  max-width: fit-content;
  display: grid;
}

.content {
  justify-content: center;
  height: fit-content;
  position: relative;
  max-width: 640px;
  display: flex;
  width: 100%;

  &:hover {
    .info {
      opacity: 1;
    }

    h2 {
      transform: translateY(-70px);
    }

    .background {
      opacity: 1;
    }
  }
}

.background {
  transition: opacity $t-normal;
  background: $c-gradient;
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0.7;
  left: 0;
  top: 0;
}

h2 {
  transition: transform $t-normal;
  top: calc(50% - 20px);
  position: absolute;
  text-align: center;
  font-size: em(32);
  line-height: 60px;
}

.info {
  transition: opacity $t-normal;
  flex-direction: column;
  align-items: center;
  position: absolute;
  display: flex;
  top: calc(50% + 30px);
  opacity: 0;
}

.text {
  margin-bottom: 30px;
  text-align: center;
  line-height: 28px;
  font-size: em(20);
  font-weight: 400;
  color: $c-white;
}

.button-white {
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  max-width: 200px;
  display: flex;
  height: 45px;
}
